.table-view{
    -fx-background-color : transparent;
    -fx-border-color : #000000;

}
.table-row-cell{
	-fx-background-color: transparent;
}
.table-view .table-cell{
 	-fx-text-fill: #000000;
}
.table-view .column-header{
  	-fx-background-color: #787878;
  	-fx-text-fill: #ffffff;
}
.table-view .column-header .label{
  	-fx-text-fill: #ffffff;
}